page-home {
.background{
    background:url('../../assets/day.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin:0 auto;
    width:100%;
    height: 100%;
    

}
h1{
    color:white;
    font-size:xx-large;
    margin-left:1600px;
    margin-top:15%;
}

.move{
margin-left:1300px;
margin-top:4%;
opacity: 0.3;
height: 250px;
width:750px;
font-size:xx-large;
}
.back{
    font-size: xx-large;
}
}
