page-home {
.background{
    background:url('../../assets/day.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin:0 auto;
    width:100%;
    height: 100%;
    

}
h1{
    color:white;
    font-size:xx-large;
    margin-left:1100px;
    margin-top:15%;
}
.h2{
    margin-right:200px;
    font-size :small;
    color:white;
}

.back{
margin-left:1000px;
margin-top:4%;
opacity: 0.8;
height: 250px;
width:600px;
font-size:x-large;
color:white;
}

}
